.about {
  background-color: $color-alice-blue;
  color: $color-black-pearl;
  padding: 60px 0 100px;

  @include vp-1023 {
    padding: 40px 0 75px;
  }

  @include vp-767 {
    padding: 21px 0 80px;
  }
}

.about__wrapper {
  min-height: 320px;
  padding-left: 20.5%;
  background-image: url("../../img/background/2022.png");
  background-repeat: no-repeat;
  background-size: 150px 320px;

  @include retina {
    background-image: url("../../img/background/2022@2x.png");
  }

  @include vp-1023 {
    padding-left: 26.71%;
  }

  @include vp-767 {
    min-height: 0;
    padding-left: 0;
    background-size: 0 0;
  }
}

.about__title {
  margin-bottom: 12px;

  @include vp-1023 {
    line-height: 45px;
  }
}

.about__wrapper p,
.about__added-text p {
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }
}

.about__button {
  min-width: 180px;
  margin-top: 20px;

  @include vp-1023 {
    margin-top: 0;
  }

  @include vp-767 {
    min-width: 57.8%;
    margin-top: -11px;
  }
}

.about__added-text {
  display: none;
}

.about__added-text-mobile {
  @include vp-767 {
    display: none;
  }
}

.about__wrapper--no-js .about__added-text,
.about__wrapper-added-text .about__added-text {
  display: block;
}

.about__wrapper--no-js .about__button {
  display: none;
}

.about__wrapper--no-js .about__added-text-mobile,
.about__wrapper-added-text .about__added-text-mobile {
  @include vp-767 {
    display: inline;
  }
}
