.advantages {
  background-color: $color-alice-blue;
  color: $color-black-pearl;
  padding: 120px 0 60px;

  @include vp-1023 {
    padding: 80px 0 40px;
  }

  @include vp-767 {
    padding: 50px 0 25px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__icon {
  color: $color-deep-sky-blue;
  margin-bottom: 20px;
}

.advantages__item {
  padding: 40px 45px 35px 40px;
  min-height: 300px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-767 {
    padding: 30px 30px 56px 30px;
    min-height: 270px;
  }
}

.advantages__item:hover .advantages__icon,
.advantages__item:hover .advantages__title,
.advantages__item:hover .advantages__description {
  color: $color-alice-blue;
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-roboto-condensed;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;

  @include vp-767 {
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
