.advantages {
  background-color: $color-alice-blue;
  color: $color-black-pearl;
  padding: 120px 0 60px;

  @include vp-1023 {
    padding: 80px 0 40px;
  }

  @include vp-767 {
    padding: 50px 0 25px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__icon {
  color: $color-deep-sky-blue;
  margin-bottom: 20px;

  @include vp-1023 {
    margin-bottom: 12px;
  }

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  padding: 40px 45px 35px 40px;
  min-height: 300px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;

  @include vp-1023 {
    min-height: 360px;
    padding: 39px 45px 34px 40px;
  }

  @include vp-767 {
    padding: 26px 30px 56px 24px;
    min-height: 325px;
  }
}

.advantages__item--higher {
  @include vp-1023 {
    padding: 39px 45px 31px 40px;
  }

  @include vp-767 {
    min-height: 340px;
  }
}

.advantages__item--higher .advantages__icon {
  @include vp-1023 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.advantages__item:hover .advantages__icon,
.advantages__item:hover .advantages__title,
.advantages__item:hover .advantages__description {
  color: $color-alice-blue;
}

.advantages__item:hover {
  background-color: $color-deep-sky-blue;
  border: 1px solid $color-deep-sky-blue;
  border-left: 5px solid $color-deep-sky-blue;
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-roboto-condensed;
  font-size: 24px;
  line-height: 34px;
  color: $color-deep-sky-blue;

  @include vp-1023 {
    margin-bottom: 8px;
    line-height: 33.6px;
  }

  @include vp-767 {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 28px;
  }
}

.advantages__item p {
  flex-grow: 1;
  margin: 0;

  @include vp-1023 {
    line-height: 21.6px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}
