.custom-input {
  position: relative;
  display: flex;

  input,
  textarea {
    width: 100%;
    flex-grow: 1;
    background-color: rgba($color-black-pearl-input, 0.15);
    border: 2px solid transparent;
    border-radius: 3px;
    outline: none;

    font-family: inherit;
    color: $color-black-pearl;
  }

  input::placeholder,
  textarea::placeholder {
    color: $color-white;
  }

  input:hover,
  textarea:hover {
    border-color: $color-alice-blue;
  }

  input:focus,
  textarea:focus {
    border-color: $color-blue-darkest;
  }

  input {
    padding: 14px;
  }

  textarea {
    padding: 24px 15px 34px 15px;

    @include vp-1023 {
      padding: 32px 15px 28px 15px;
    }

    @include vp-767 {
      padding: 25px 15px;
      height: 180px;
    }
  }

  .input-message {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 0;
    bottom: -20px;
  }

  .input-message.is-invalid {
    color: $color-red;
  }
}

.custom-input.is-invalid {
  input,
  textarea {
    border: 2px solid $color-red;

    &:focus,
    &:hover {
      border: 2px solid rgba($color-red, 0.5);
    }
  }
}
