.custom-input {
  position: relative;
  display: flex;

  input,
  textarea {
    width: 100%;
    flex-grow: 1;
    background-color: $color-whisper;
    border: 2px solid $color-blue-darker;
    border-radius: 3px;
    outline: none;

    font-family: inherit;
    color: $color-black-pearl;

    &::placeholder {
      color: $color-white;
    }

    &:placeholder-shown {
      background-color: $color-blue-darker;
    }

    &:hover {
      border-color: $color-alice-blue;
    }

    &:focus {
      border-color: $color-blue-darkest;
    }
  }

  input {
    padding: 14px;
  }

  textarea {
    padding: 24px 15px 34px 15px;

    @include vp-1023 {
      padding: 32px 15px 28px 15px;
    }

    @include vp-767 {
      padding: 25px 15px;
      height: 180px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid $color-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-red, 0.5);
      }
    }
  }

  .input-message {
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 0;
    top: -30px;

    &.is-invalid {
      color: $color-red;
    }
  }
}
