.feedback {
  position: relative;
  background-color: $color-deep-sky-blue;
  padding: 170px 0 230px;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50%;
    height: 100%;
    background-color: $color-black-pearl;
    opacity: 0.5;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    z-index: -1;

    @include vp-1023 {
      width: 0;
      height: 0;
    }
  }
}

.feedback__wrapper {
  background-image: url("../../img/background/airplane.png");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: 0 76px;
  background-size: 41.8% auto;

  @include retina {
    background-image: url("../../img/background/airplane@2x.png");
  }

  @include vp-1023 {
    background-image: none;
  }
}

.feedback__form-wrapper {
  padding: 0 10px 0 15px;
  width: 50%;
  margin-left: auto;
  min-height: 400px;

  @include vp-1023 {
    width: 100%;
    min-height: fit-content;
  }
}

.feedback__title {
  margin-bottom: 15px;
}

.feedback__form-wrapper p {
  margin: 0;
  margin-bottom: 35px;
  color: $color-white;
}

.feedback__form div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;
}

.feedback__form div input {
  width: 47.41%;
  border: none;
  background-color: $color-blue-darker;
  border: 1px solid $color-blue-darker;
  border-radius: 3px;
  padding: 15px;
  font-family: inherit;
  color: $color-black-pearl;

  &::placeholder {
    color: $color-white;
  }

  &:hover {
    border-color: $color-alice-blue;
  }
}

.feedback__form textarea {
  width: 100%;
  background-color: $color-blue-darker;
  border: 1px solid $color-blue-darker;
  border-radius: 3px;
  padding: 25px 15px;
  font-family: inherit;
  color: $color-black-pearl;
  margin-bottom: 35px;

  &::placeholder {
    color: $color-white;
  }

  &:hover {
    border-color: $color-alice-blue;
  }
}

.feedback__form div button {
  width: 45.69%;
  display: inline-block;
  padding: 17px 27px;
  border-radius: 3px;
  color: $color-white;
  background-color: $color-black-pearl;
  font-size: 18px;
  line-height: 21px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}

.feedback__form div label {
  width: 50%;
  padding-left: 26px;
}

.feedback__form div label input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
