.footer {
  padding: 50px 0 45px;

  @include vp-1023 {
    padding: 50px 0 55px;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    width: 100%;
    flex-direction: column;
  }
}

.footer__icon-links {
  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px 9px 25px;
    border-bottom: 1px solid $color-alice-blue;
  }
}

.footer__info-links {
  display: flex;
  justify-content: space-between;
  width: 69.26%;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__logo-link {
  display: block;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__title {
  font-family: $ff-roboto-condensed;
  color: $color-white;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  @include vp-767 {
    display: none;
  }
}

.footer__accordion-button {
  display: none;

  @include vp-767 {
    display: block;
    position: relative;
    font-family: $ff-roboto-condensed;
    color: $color-white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 21px 0;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    right: 1px;
    width: 15px;
    height: 1px;
    background-color: $color-alice-blue;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 8px;
    width: 1px;
    height: 15px;
    background-color: $color-alice-blue;
    transition: transform $trans-default;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.is-active .footer__accordion-button::after {
  transform: rotate(90deg);
}

.footer__nav-wrapper {
  padding-top: 7px;
  margin-right: 30px;

  width: 55.62%;

  @include vp-1023 {
    padding-top: 0;
    margin-right: 130px;
    width: 44.76%;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    border-bottom: 1px solid $color-alice-blue;
  }
}

.footer__nav-item {
  margin-bottom: 8px;

  @include vp-1023 {
    margin-bottom: 8px;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    flex-direction: column;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.footer__nav-link {
  color: $color-white-opacity;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;

    @include vp-767 {
      outline-offset: 0;
    }
  }
}

.footer__nav-link-break {
  &--desktop {
    @include vp-1023 {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @include vp-1023 {
      display: inline;
    }
  }
}

.footer__ofice-info {
  padding-top: 7px;
  width: 40.82%;

  @include vp-1023 {
    padding-top: 0;
    width: 65%;
  }

  @include vp-767 {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    border-bottom: 1px solid $color-alice-blue;
  }
}

.footer__ofice-info-wrapper {
  @include vp-767 {
    margin-top: -5px;
  }
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: 30px;
  width: 46.8%;

  &:last-of-type {
    margin-right: 0;
  }

  @include vp-1023 {
    width: 100%;
    margin-right: 0;
  }

  @include vp-767 {
    margin-top: -5px;
    width: 100%;
  }
}

.footer__phone-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-767 {
    margin-bottom: 13px;
  }
}

.footer__address {
  color: $color-white-opacity;
  font-style: normal;
  margin-bottom: 7px;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 17px;
  }
}

.footer__phone-item {
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.footer__phone-link {
  color: $color-white-opacity;

  line-height: 25px;

  @include vp-767 {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;

    @include vp-767 {
      outline-offset: 0;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__info-links--no-js [data-accordion="content"] {
  max-height: 100%;
}

.footer__info-links--no-js .footer__accordion-button::after,
.footer__info-links--no-js .footer__accordion-button::before {
  width: 0;
  height: 0;
}
