.presentation {
  padding: 305px 0 280px;
  background-color: $color-black-pearl;
  background-image: url("../img/background/presentation-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop-retina {
    background-image: url("../img/background/presentation-desktop@2x.webp");
  }

  @include vp-1023 {
    padding: 180px 0 205px;
    background-image: url("../img/background/presentation-tablet.webp");
  }

  @include vp-1023-retina {
    background-image: url("../img/background/presentation-tablet@2x.webp");
  }

  @include vp-767 {
    padding: 150px 0 190px;
    background-image: url("../img/background/presentation-mobile.webp");
  }

  @include vp-767-retina {
    background-image: url("../img/background/presentation-mobile@2x.webp");
  }
}

.presentation__wrapper h1 {
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 5.5px;
  margin: 0;
  margin-left: 125px;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    margin: 0;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2.5px;
    margin-bottom: 7px;
  }
}

.presentation__wrapper p {
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 48px;
  margin-left: 125px;

  @include vp-1023 {
    margin-bottom: 57px;
    margin-left: 0;
    width: 100%;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 45px;
  }
}

.presentation__wrapper {
  width: 100%;
  margin: 0 auto;

  @include vp-1023 {
    width: 100%;
  }
}

.presentation__button {
  width: fit-content;
  margin-left: 125px;

  &--mobile {
    display: none;
  }

  @include vp-1023 {
    margin-left: 6.9%;
  }

  @include vp-767 {
    width: 100%;
    margin-left: 0;

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }
}
