.title {
  font-family: $ff-roboto-condensed;
  color: $color-white;
  font-size: 36px;
  line-height: 51px;
  margin: 0;

  &--black {
    color: $color-black-pearl;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 40px;
  }
}
